/*----------  newsletter section  ----------*/
.newsletter-section {
    background-color: #182943;
    color: #ffffff;
}

.newsletter-section .newsletter-title h1 {
    color: #ffffff;
    font-size: 31px;
    line-height: 42px;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .newsletter-section .newsletter-title h1 {
        font-size: 25px;
        line-height: 30px;
    }
}

.subscription-form-wrapper p {
    margin-bottom: 0;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
}

@media only screen and (max-width: 479px) {
    .subscription-form-wrapper p {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

.subscription-form {
    position: relative;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    padding-right: 160px;
    background-color: #ffffff;
    height: 50px;
    border-radius: 3px;
    padding-top: 12px;
    padding-left: 20px;
}

@media only screen and (max-width: 479px) {
    .subscription-form {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding-right: 120px;
    }
}

.subscription-form input {
    width: 100%;
    border: none;
    background: white;
}

.subscription-form button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-color: #07BDE2;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 0px 2px 2px 0px;
    color: white;
    height: 50px;
}

@media only screen and (max-width: 479px) {
    .subscription-form button {
        padding: 10px 20px;
    }
}

.subscription-form button:hover {
    background-color: #F07D4E;
}

.subscription-form .mailchimp-alerts {
    position: absolute;
    top: 50px;
}