.main-menu nav > ul > li.active > a, .main-menu nav > ul > li:hover > a {
    color: #fff;
    text-decoration: underline;
}

.main-menu nav > ul > li > a {
    color: #fff;
    text-decoration: none;
}