/*Carousel home page*/
#carousel-home,
#staff {
    margin-top: 40px;
}

@media (max-width: 767px) {

    #carousel-home,
    #staff {
        /* For less than 767px */
        margin: 0 0 15px 0;
    }
}

#carousel-home .item .title,
#staff .item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 9;
}

#carousel-home .item .title h4,
#staff .item .title h4 {
    background-color: var(--primary-color);
    background-color: var(--primary-color);
    display: inline-block;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color: #fff;
    padding: 10px 15px;
    margin: 0;
    font-size: 16px;
    font-size: 1rem;
    opacity: 0;
}

#carousel-home .item .title h4 em,
#staff .item .title h4 em {
    display: block;
    font-size: 13px;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 300;
    margin-top: 3px;
}

#carousel-home .item a,
#staff .item a {
    position: relative;
    display: block;
}

#carousel-home .item a .views,
#staff .item a .views {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;
    box-sizing: border-box;
    padding: 3px 6px 4px 5px;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px;
    font-size: 0.75rem;
    opacity: 0;
}

#carousel-home .item a .views i,
#staff .item a .views i {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin-right: 3px;
    position: relative;
    top: 1px;
}

#carousel-home .owl-item,
#staff .owl-item {
    opacity: 0.5;
    transform: scale(0.85);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(0.85, 0.85);
    transition: all 0.3s ease-in-out 0s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

#carousel-home .owl-item.active.center,
#staff .owl-item.active.center {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: scale(1);
}

#carousel-home .owl-item.active.center .item .title h4,
#staff .owl-item.active.center .item .title h4,
#carousel-home .owl-item.active.center .item .views,
#staff .owl-item.active.center .item .views {
    opacity: 1;
}


.rating-container {
    text-align: center;
}